<!DOCTYPE html>

{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
{%bootstrap_messages %} {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Project</title>
</head>
<body>
    <div style="text-align:center">
        <h1>Ans & Heru's Privacy Project</h1>
    </div>
    <div style="text-align:center">
        <h2>Client Info</h2>
        <ul>
            {% for key, value in json_info.items %}
            <li>{{key}}: {{value}}</li>
            {% endfor %}
        </ul>
        <h2>Browser Information:</h2>
        <ul>
            <li><b>Browser:</b> {{ browser_info.browser.family }}</li>
            <li><b>Browser Version:</b> {{ browser_info.browser.version_string }}</li>
            <li><b>Operating System:</b> {{ browser_info.os.family }}</li>
            <li><b>OS Version:</b> {{ browser_info.os.version_string }}</li>
            <li><b>Device:</b> {{ browser_info.device.family }}</li>
        </ul>
    </div>
    <div style="text-align:center" class="bg-dark">
        <h2>Tor</h2>
        {% if tor_in_use %}
        <p>You are using <span class="bg-danger">Tor</span></p>
        {% else %}
        <p>You are not using <span class="bg-primary">Tor</span></p>
        {% endif %}
    </div>
</body>
</html>