<!DOCTYPE html>

{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
{%bootstrap_messages %} {% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Project</title>
</head>
<body style="text-align:center;justify-content:center;align-items:center">
    <div style="text-align:center">
        <h1>Ans & Heru's Privacy Project</h1>
    </div>
    <div style="text-align:center;justify-content:center;align-items:center">
        <div style="text-align:left; margin:10px;border-radius:15px;max-width:400px;display:inline-block">
            <h2>Client Info</h2>
            <ul class="list-group list-group-light">
            {% for key, value in json_info.items %}
                <li class="list-group-item">{{key}}: {{value}}</li>
            {% endfor %}
            </ul>
        </div>
        <div style="text-align:left; margin:10px;border-radius:15px;max-width:400px;display:inline-block">
            <h2>Browser Information:</h2>
            <ul class="list-group list-group-light">
                <li class="list-group-item"><b>Browser:</b> {{ browser_info.browser.family }}</li>
                <li class="list-group-item"><b>Browser Version:</b> {{ browser_info.browser.version_string }}</li>
                <li class="list-group-item"><b>Operating System:</b> {{ browser_info.os.family }}</li>
                <li class="list-group-item"><b>OS Version:</b> {{ browser_info.os.version_string }}</li>
                <li class="list-group-item"><b>Device:</b> {{ browser_info.device.family }}</li>
            </ul>
        </div>
    </div>
    {% if tor_in_use %}
    <div style="text-align:center; padding:10px; border-radius:15px;max-width:200px;justify-content:center;align-items:center" class="bg-danger">
        {% else %}
        <div style="text-align:center; padding: 10px; border-radius:15px;max-width:200px;justify-content:center;align-items:center" class="bg-primary">
        {% endif %}
        <h2 style="color:white">Tor</h2>
        {% if tor_in_use %}
        <p style="color:white">You are using Tor</p>
        {% else %}
        <p style="color:white">You are not using Tor</p>
        {% endif %}
    </div>
</body>
</html>